<article class="summary">
    {{ $linkToCover := "" }}
    {{ $matches := "feature,cover" }}
    {{/* Use the value from front matter if present */}}
    {{ with .Params.cover }}
    {{/* This is the default case, the image lives in the static directory.
    In which case we'll use the static dir */}}
    {{ $linkToCover = trim . "/" | absURL }}
    {{/* If we find a Page Resource matching the exact value, we use it instead. */}}
    {{ with $.Resources.GetMatch . }}
    {{ $linkToCover = .RelPermalink }}
    {{ end }}
    {{/* Find the first image with 'cover' in the name in this page bundle. */}}
    {{ end }}
    {{ if $linkToCover }}
    <a href="{{ .RelPermalink }}" aria-label="Go to {{ .LinkTitle }}">
        <img class="cover" src="{{ $linkToCover }}" alt="Cover for {{ .LinkTitle }} post" />
    </a>
    {{ end }}
    <div class="container text-xs">
        <a href="{{ .RelPermalink }}">
            <h2 class="title text-lg bold">
                {{ .LinkTitle }}
            </h2>
        </a>
        <p class="desc bold">{{ .Description }}</p>
        <h3 class="date">
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            {{ $dateHuman }}
        </h3>
        {{ $tags := "tags" }}
        {{ with .GetTerms $tags }}
        <ul class="tags-list overflow-scroll">
            {{ range . }}
            {{ partial "tags-in-content.html" . }}
            {{ end }}
        </ul>
        {{ end }}
    </div>
</article>
