/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --shiny: #e99a96;
    --highlightLow: #21202e;
    --highlightMed: #403d52;
    --highlightHigh: #524f67;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* global colors */
html {
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.text-md {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
}

.text-sm {
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.25rem;
    /* 20px */
}

.text-xs {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.75rem;
    /* 28px */
}

.text-xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
}

.text-2xl {
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
}

main {
    margin: 0px auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 900px;
}

body {
    background-color: var(--base);
    color: var(--text);

}

@media (min-width: 1024px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

a {
    color: var(--rose);
}


footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 1.25rem;
    margin: 2rem 0 1.25rem 0;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    align-items: center;


}

.bold {
    font-weight: 700;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

/* single */
.single-title {
    color: var(--rose);
}

.single-description {
    color: var(--text);
}

.single-time {
    color: var(--foam);
}

.single-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    row-gap: 1rem;
}

.single-article img {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
    max-width: 100%;
    height: auto;
}

.single-article video {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
    max-width: 100%;
    height: auto;
}

article.single-article h1 {
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
    color: var(--rose);
}

article.single-article h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

article.single-article h2 {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */

    color: var(--shiny);
}

article.single-article h3 {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    color: var(--love);


}

article.single-article a:hover {
    text-decoration: underline;
    color: var(--base);
    background-color: var(--rose);
}

.single-article ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    list-style-type: disc;
}

.single-article ol {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    list-style-type: decimal;
    list-style-position: inside;
}

.single-article li::marker {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    color: var(--rose);
}

.single-article pre code {
    padding: 1rem;
    overflow-x: auto;
    display: block;
}

.single-article {
    overflow-wrap: break-word;
    hyphens: manual;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}


.summary {
    border-radius: 0.1rem;
    display: flex;
    margin-bottom: 0.5rem;
    flex-direction: column-reverse;
    column-gap: 1rem;
    text-decoration: none;

}

@media (min-width: 768px) {
    .summary {
        flex-direction: row;
        justify-content: space-between;
    }
}

.single-header .cover {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

@media (min-width: 768px) {
    .summary .cover {
        height: 10rem;
        width: 15rem;
        border-radius: 0.1rem 0;
    }
}

.summary .cover {

    border-radius: 0.1rem 0.1rem 0 0;
    height: 10rem;
    object-fit: cover;
    mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

article .summary a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.summary .container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.summary .container .title {
    color: var(--rose);
}

.summary .container .title:hover {
    text-decoration: underline;
    background-color: var(--rose);
    color: var(--base);
}

.summary .container .date {
    color: var(--foam);
}

.summary .container .desc {
    color: var(--text);
}

.summary .container a {
    color: var(--iris);
    display: block;
    text-decoration: none;
}

header {
    background-color: var(--surface);
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    z-index: 1;
    box-shadow: 0.15rem solid var(--rose);
}

nav input.checkbox-menu[type="checkbox"] {
    display: none;
}

nav {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 2rem;
    justify-content: space-between;
    align-content: space-between;
    max-width: 900px;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;

}

@media(min-width: 768px) {
    nav {
        flex-wrap: nowrap;
    }
}

nav a#logo {
    width: 10rem;
}

nav li a {
    text-decoration: inherit;
}

nav a {
    align-items: center;
    justify-content: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav .navigation-list {

    visibility: hidden;
    display: none;

}

@media (min-width: 768px) {
    nav .navigation-list {

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        visibility: visible;
    }
}

nav input.checkbox-menu[type="checkbox"] {
    display: none;
}

nav input.checkbox-menu[type="checkbox"]:checked~.navigation-list {
    visibility: visible;
    gap: 3rem;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


nav input.checkbox-menu[type="checkbox"]:checked~label.hamburger-button svg.hamburger-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav input.checkbox-menu[type="checkbox"]:checked~label.hamburger-button svg.hamburger-open {
    display: none;
}

nav .hamburger-button {

    cursor: pointer;
    width: 1.25rem;
}

@media (min-width: 768px) {
    nav .hamburger-button {
        display: none;
    }
}

nav .hamburger-button .hamburger-close {
    color: var(--love);
    display: none;
}

nav .hamburger-button .hamburger-open {
    color: var(--rose);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;

}

.list-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 0.725rem;

}

.home-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-list .see-more {
    color: var(--rose);

}

.list-content .title {
    font-weight: 700;
}

.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0;
    gap: 3rem;
}

.home h1 {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
    font-weight: 700;
}

.not-found {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    max-width: 900px;
    padding: 8rem 0;
}

ul.tags-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: .875rem;
    align-content: space-between;

}

ul.tags-list li.tag-item a {
    color: var(--gold);
    text-decoration: underline;
    font-weight: 700;
}

ul.tags-list li.tag-item a:hover {
    color: var(--base);
    background-color: var(--gold);
    text-decoration: underline;
}

ul.tags-list li.single-tag a {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 9999px;
    background-color: var(--rose);
    color: var(--base);
    text-decoration: none;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
}

.powered-by {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}



del {
    text-decoration-line: line-through;
}
