:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --shiny: #e99a96;
    --highlightLow: #21202e;
    --highlightMed: #403d52;
    --highlightHigh: #524f67;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* global colors */
html {
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
main {
    margin: 0px auto;
    padding-left: 1rem;
    padding-right: 1rem; 
    max-width: 900px;
}
body {
    background-color: var(--base);
    color: var(--text);
    @media (min-width: 1024px) { 
        padding-left: 0;
        padding-right: 0; 
    }
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

a {
    color: var(--rose);
} 

footer {
    display: flex; 
    right: 0;
    left: 0; 
    bottom: 0; 
    padding: 0 1.25rem;
    margin-bottom: 1.25rem;
    flex-direction: column; 
    gap: 1rem; 
    align-items: center; 
    text-align: center; 
    align-items: center;

    a {
        color: inherit;
        text-decoration: inherit;
    }

}

.bold {
    font-weight: 700;
}

/* single */
.single-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: var(--rose);
}

.single-description {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--gold);
}

.single-time {
    color: var(--foam);
    font-size: .875rem;
    line-height: 1.25rem;
}

.single-header {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 4rem 0;
    row-gap: 1rem;

}


.single-article {
    overflow-wrap: break-word;
    hyphens: manual;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 , h2, h3, h4, h5, h6 {
        font-weight: 700;
        color: var(--iris);
    }

    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 0;
        max-width: 100%;
        height: auto;
    }

    ol, ul {
        padding-top: 1rem;
        padding-bottom: 1rem; 
        padding-left: 1rem; 

    }
    ul {
        list-style-type: disc; 
    }
    li::marker {
        padding-top: 1rem;
        padding-bottom: 1rem; 
        padding-left: 1rem; 
        color: var(--rose);
    }

    pre {
        code {
            padding: 1rem;
            overflow-x: auto;
            display: block;
        }
    }
}


.summary {
    display: flex; 
    margin-bottom: 0.5rem; 
    flex-direction: column; 
    border-width: 1px; 
    border-right-width: 4px; 
    border-bottom-width: 4px; 
    border-color: var(--highlightMed);
    column-gap: 1rem; 
    @media (min-width: 768px) { 
        flex-direction: row;
    }
    

    text-decoration: none;

    .cover {
        @media (min-width: 768px) { 
            height: 10rem; 
            width: 15rem;
        }
        height: 10rem;
        object-fit: cover;
        mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
     }
    .container {
         .title {
            font-size: 1.5rem;
            line-height: 2rem; 
            font-weight: 700; 
            color: var(--gold);
         }

         .date {
            font-size: 1.25rem;
            line-height: 1.75rem; 
            font-weight: 600;
            color: var(--foam);
         }

         .desc {
            color: var(--love);
            font-weight: 600;
         }

    }
}
header {
    background-color: var(--surface);
    position: sticky; 
    top: 0; 
    display: flex;
    padding 0 0;
    justify-content: center;
    z-index: 1;
}

nav {
    margin: 0;
    display: flex; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
    gap: 2rem; 
    justify-content: space-evenly;
    align-content: space-between; 
    max-width: 900px;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;

    @media(min-width: 768px) {
        justify-content: space-between;
        flex-wrap: nowrap;
    }


    a {
        align-items: center;
        justify-content: center;
        align-content: center;
        display: flex;
    }
    .navigation-list {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            position: relative;
            visibility: visible;
        }
        position: fixed;
        visibility: hidden;
    }

    input.checkbox-menu[type="checkbox"] {
        display: none;
    }

    input.checkbox-menu[type="checkbox"]:checked ~ .navigation-list {
        visibility: visible;
        gap: 3rem;
        position: relative;
        width: 100vw;
        display: flex;
        height: max-content;
        flex-direction: column;
        gap: 1rem;
    }


    input.checkbox-menu[type="checkbox"]:checked ~ label.hamburger-button svg.hamburger-close {
        display: flex;
    }

    input.checkbox-menu[type="checkbox"]:checked ~ label.hamburger-button svg.hamburger-open {
        display: none;
    }
    .hamburger-button {
        @media (min-width: 768px) {
            display: none;
        }
        cursor: pointer;
        width: 2rem;

        .hamburger-close {
            color: var(--love);
            display: none;
        }

        .hamburger-open {
            color: var(--rose);
            display: flex;
        }
    }


    li {
        a {
            text-decoration: inherit;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }
}


.list-content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;

    .title {
        font-size: 3rem;
        line-height: 1; 
        font-weight: 700;
    }
}

.home {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0;
    gap: 3rem;
    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem; 
        font-weight: 700; 
    }
}

.not-found {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    vertical-align: middle; 
    max-width: 900px;
    padding: 8rem 0;
}
