{{ define "main" }}
<div class='single-header'>
    <h1 class='single-title bold'>{{ .Title }}</h1>
    <h2 class='single-description bold'>{{ .Description }}</h2>
    {{ $dateMachine := .Date | time.Format "01-02-2006" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time class='single-time' datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

    {{ $tags := "tags" }}
    {{ with .GetTerms $tags }}
    <ul class="tags-list">
        {{ range . }}
        {{ partial "tags-in-content.html" . }}
        {{ end }}
    </ul>
    {{ end }}
</div>


<article class='single-article'>
    {{ .Content }}
    <article>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        {{ end }}
